#accueil {
    margin-top: 50px;
}

.title h1 {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 50px;
}

.title span {
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.title p {
    font-size: 35px;
    font-weight: 500;
    color: black;
}

.temperature {
    display: flex;
    flex-direction: column;
}


.temperature-ext {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.temperature-plus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.block-temperature {
    box-shadow: 1px 1px 12px #555;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C5AD97;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.block-temperature span{
    font-weight: bold;
    text-decoration: underline;
}

.block-temperature-plus {
  margin: 20px;
}

.block-temperature-result {
    margin-top: 20px;
    border-top: 1px solid black;
}

.block-temperature-result p {
    height: 70px;
    font-size: 60px;
    font-weight: 500;
}

.block-temperature-date {
    font-size: 20px;
}

.block-heure {
    box-shadow: 1px 1px 12px #555;
    padding-top: 10px;
    font-weight: 500;
    font-size: 20px;
    background-color: #1552a7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-temperature{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-temperature Button:hover{
    color: black !important;
    text-decoration: none;
}

.btn-temperature Button{
    color: black !important;
    text-decoration: none;
}

.msg-error {
    margin-top: 70px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
